<app-page-header [title]="'Create Job'" [activeTitle]="'Start Job'" [title1]="'Create Job'"></app-page-header>

<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12 col-span-12">
        <div class="box">
            <div class="box-body">
                <div class="md:flex block flex-wrap items-center justify-between">
                    <div class="flex-grow">
                        <nav class="nav nav-pills nav-style-3 flex md:mb-0 mb-4" aria-label="Tabs">
                            <a class="nav-link text-defaulttextcolor !py-[0.35rem] !px-4 text-sm !font-medium text-center rounded-md hover:text-primary active" 
                               id="create-job-tab" 
                               data-hs-tab="#creatjob" 
                               aria-controls="creatjob" 
                               role="tab" 
                               aria-selected="false">
                                Create Job
                            </a>
                            <a class="nav-link text-defaulttextcolor !py-[0.35rem] !px-4 text-sm !font-medium text-center rounded-md hover:text-primary" 
                               id="recent-job-tab" 
                               data-hs-tab="#recentjob" 
                               aria-controls="recentjob" 
                               role="tab" 
                               aria-selected="false">
                                Recent Jobs
                            </a>
                        </nav>
                    </div>
                    <div class="flex flex-wrap items-center md:mt-0 justify-evenly gap-6">
                        <div class="md:text-end">
                            <span class="block font-semibold">Total Jobs</span>
                            <span class="!text-primary">1879</span>
                        </div>
                        <div class="md:text-end">
                            <span class="block font-semibold">Canceled</span>
                            <span class="!text-warning"></span>
                        </div>
                        <div class="md:text-end">
                            <span class="block font-semibold">Yield</span>
                            <span class="!text-danger">3.4%</span>
                        </div>
                        <div class="md:text-end">
                            <span class="block font-semibold">Dividend</span>
                            <span class="!text-info">$1.3k</span>
                        </div>
                        <div class="md:text-end">
                            <span class="block font-semibold">Gain</span>
                            <span class="!text-success">$116</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid grid-cols-12 gap-x-6">
    <div class="xl:col-span-12 col-span-12">
        <div class="tab-content">
            <!-- Tab Content 1: Create Job -->
            <div class="tab-pane fade show active !p-0 !border-0" id="creatjob" aria-labelledby="create-job" role="tabpanel">
                <div class="grid grid-cols-12 gap-6">
                    <div class="xxl:col-span-9 xl:col-span-8 col-span-12">
                        <div class="box custom-box">
                            <div class="box-header justify-between">
                                <div class="box-title">
                                    Post New Job
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="grid grid-cols-12 sm:gap-6 mb-4">
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="job-title" class="form-label">Job Title</label>
                                        <input type="text" class="form-control" id="job-title" placeholder="Job Title" value="Web Developer">
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="Job Category" class="form-label">Job Category</label>
                                        <ng-select data-trigger name="Category-select" placeholder="Development"
                                           >
                                            <ng-option value="Choice 1">Development</ng-option>
                                            <ng-option value="Choice 2">Marketing</ng-option>
                                            <ng-option value="Choice 3">IT Software</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="Experience" class="form-label">Working Experience</label>
                                        <ng-select data-trigger name="Experience"
                                             placeholder="0 - 1 Years">
                                            <ng-option value="Choice 1">0 - 1 Years</ng-option>
                                            <ng-option value="Choice 2">1 - 3 Years</ng-option>
                                            <ng-option value="Choice 3">3 - 5 Years</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="jobtype" class="form-label">Job Type</label>
                                        <ng-select data-trigger name="jobtype"
                                            placeholder="Contract">
                                            <ng-option value="Choice 1">Contract</ng-option>
                                            <ng-option value="Choice 2">Freelance</ng-option>
                                            <ng-option value="Choice 3">Full Time</ng-option>
                                            <ng-option value="Choice 4">Part Time</ng-option>
                                            <ng-option value="Choice 5">Internship</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="Priority" class="form-label">Priority</label>
                                        <ng-select data-trigger name="Priority"
                                            placeholder="Normal">
                                            <ng-option value="Choice 1">Normal</ng-option>
                                            <ng-option value="Choice 2">Urgent</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="Vacancies" class="form-label">Vacancies</label>
                                        <ng-select data-trigger name="Vacancies"
                                            placeholder="10">
                                            <ng-option value="Choice 2">10</ng-option>
                                            <ng-option value="Choice 3">20</ng-option>
                                            <ng-option value="Choice 4">30</ng-option>
                                            <ng-option value="Choice 5">40</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="Salary" class="form-label">Salary</label>
                                        <ng-select data-trigger name="Salary"
                                            placeholder="0 - $1,00,000 / Year">
                                            <ng-option value="Choice 2">0 - $1,00,000 / Year</ng-option>
                                            <ng-option value="Choice 3">$1,00,000 - $3,00,000 / Year</ng-option>
                                            <ng-option value="Choice 4">$3,00,000 - $5,00,000 / Year</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="skills" class="form-label">Skills :</label>
                                        <ng-select  name="assigned-team-members" id="assigned-team-members" [multiple]="true" [(ngModel)]="selectedSkills">
                                            @for(skill of Skills;track $index){
                                               
                                                <ng-option  [value]="skill.id"
                                                  >{{skill.name}}</ng-option>
                                              }
                                        </ng-select>
                                     
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="Job-Deadline" class="form-label">Job Deadline</label>
                                        <input type="text" class="form-control"  placeholder="Job Deadline">
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="gender" class="form-label">Gender Requirement</label>
                                        <ng-select data-trigger name="gender"
                                            placeholder="SELECT">
                                            <ng-option value="Choice 2">No Preferences</ng-option>
                                            <ng-option value="Choice 3">Male Only</ng-option>
                                            <ng-option value="Choice 4">Female Only</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="language" class="form-label">Languages :</label>
                                        <ng-select  name="assigned-team-members" id="assigned-team-members" [multiple]="true" [(ngModel)]="selectedLanguages">
                                            @for(language of languages;track language.id){
                                               
                                                <ng-option  [value]="language.id"
                                                  >{{language.name}}</ng-option>
                                              }
                                            
                                        </ng-select>
                                     
                                    </div>
                                    <div class="xl:col-span-6 col-span-12">
                                        <label for="Qualification" class="form-label">Qualification :</label>
                                        <ng-select  name="assigned-team-members" id="assigned-team-members" [multiple]="true" [(ngModel)]="selectedQualifications">
                                            @for(Qualification of Qualifications;track Qualification.id){
                                               
                                                <ng-option  [value]="Qualification.id"
                                                  >{{Qualification.name}}</ng-option>
                                              }
                                         
                                        </ng-select>
                                       
            
                                    </div>
                                    <!-- <div class="xl:col-span-12 col-span-12">
                                        <label for="bio" class="form-label">Job Description :</label>
                                        <textarea class="form-control" id="job-description" rows="4">Lorem ipsum dolor sit amet consectetur adipisicing elit. At sit impedit, officiis non minima saepe voluptates a magnam enim sequi porro veniam ea suscipit dolorum vel mollitia voluptate iste nemo!</textarea>
                                    </div> -->
                                </div>
                            </div>
                            <div class="box-footer text-end">
                                <a href="javascript:void(0);" class="ti-btn ti-btn-primary-full btn-wave waves-effect waves-light">
                                    <i class="bi bi-plus-circle"></i> Post Job
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="xxl:col-span-3 xl:col-span-4 col-span-12">
                        <div class="box custom-box">
                            <div class="box-header">
                                <div class="box-title">Assign To Employer</div>
                            </div>
                            <div class="box-body">
                                <div class="xl:col-span-12 col-span-12">
                                    <label for="Employer Name" class="form-label">Employer Name</label>
                                    <ng-select data-trigger placeholder="Obligation Pvt.Ltd">
                                        <ng-option value="Choice 1">Obligation Pvt.Ltd</ng-option>
                                        <ng-option value="Choice 2">Voluptatem Pvt.Ltd</ng-option>
                                        <ng-option value="Choice 3">BloomTech.Inc</ng-option>
                                        <ng-option value="Choice 4">Spotech Technical Solutions</ng-option>
                                    </ng-select>
                                </div>
                            </div>
                        </div>
                        <div class="box custom-box">
                            <div class="box-header">
                                <div class="box-title">Company Details</div>
                            </div>
                            <div class="box-body">
                                <div class="grid grid-cols-12 gap-4">
                                    <div class="xl:col-span-12 col-span-12">
                                        <label for="Company Name" class="form-label">Company Name</label>
                                        <input type="text" class="form-control" placeholder="Company Name" value="Obligation Pvt.Ltd">
                                    </div>
                                    <div class="xl:col-span-12 col-span-12">
                                        <label for="Company Website" class="form-label">Company Website</label>
                                        <input type="text" class="form-control" placeholder="Company Website" value="http//www.obligationpvtltd.com">
                                    </div>
                                    <div class="xl:col-span-12 col-span-12">
                                        <label for="Country" class="form-label">Country</label>
                                        <ng-select data-trigger name="Country"
                                            placeholder="India">
                                            <ng-option value="Choice 2">India</ng-option>
                                            <ng-option value="Choice 3">USA</ng-option>
                                            <ng-option value="Choice 4">Germany</ng-option>
                                            <ng-option value="Choice 5">Spain</ng-option>
                                            <ng-option value="Choice 6">Urgentina</ng-option>
                                        </ng-select>
                                    </div>
                                    <div class="xl:col-span-12 col-span-12">
                                        <label for="Company Address" class="form-label">Address</label>
                                        <input type="text" class="form-control" placeholder="Company Address" value="USA">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- Tab Content 2: Recent Jobs -->
            <div class="tab-pane fade !p-0 !border-0" id="recentjob" aria-labelledby="recent-job-tab" role="tabpanel">
                <div class="grid grid-cols-12 gap-x-6">
                    <div class="xxl:col-span-12 xl:col-span-12 col-span-12">
                        <div class="box box-card">
                            <div class="box-header justify-between">
                                <div class="box-title">Recent Employers</div>
                                <div class="sm:flex">
                                    <div class="me-3 mb-2 sm:mb-0">
                                        <input class="ti-form-control form-control-sm" type="text" placeholder="Search Here" aria-label=".form-control-sm example">
                                    </div>
                                    <div class="hs-dropdown ti-dropdown">
                                        <a href="javascript:void(0);" class="ti-btn ti-btn-primary-full !py-1 !px-2 !text-[0.75rem] !m-0 !gap-0 !font-medium  !hover:text-white" aria-expanded="false">
                                            Sort By<i class="ri-arrow-down-s-line align-middle ms-1 inline-block"></i>
                                        </a>
                                        <ul class="hs-dropdown-menu ti-dropdown-menu hidden" role="menu">
                                            <li><a class="ti-dropdown-item !py-2 !px-[0.9375rem] !text-[0.8125rem] !font-medium block" href="javascript:void(0);">New</a></li>
                                            <li><a class="ti-dropdown-item !py-2 !px-[0.9375rem] !text-[0.8125rem] !font-medium block" href="javascript:void(0);">Popular</a></li>
                                            <li><a class="ti-dropdown-item !py-2 !px-[0.9375rem] !text-[0.8125rem] !font-medium block" href="javascript:void(0);">Relevant</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table class="table whitespace-nowrap table-hover border table-bordered min-w-full">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="text-start">Job Number</th>
                                                <th scope="col" class="text-start">Service</th>
                                                <th scope="col" class="text-start">Assign To</th>
                                               
                                                <th scope="col" class="text-start">Customer</th>
                                                <th scope="col" class="text-start">Service</th>
                                                <th scope="col" class="text-start">Created Date</th>
                                                <th scope="col" class="text-start">Estimated Date</th>
                                                <th scope="col" class="text-start">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Add table rows here -->
                                            <tr class="border hover:bg-gray-100 dark:hover:bg-light dark:border-defaultborder/10 border-defaultborder !border-x-0">
                                                <td>OM12576</td>
                                                <td>Memory Drop Gyrocompass</td>
                                                <td>Kamran Ali</td>
                                                <!-- <td>
                                                    <div class="inline-flex items-center">
                                                        <i class="ri-map-pin-fill text-[#8c9097] dark:text-white/50 text-[0.625rem]"></i>
                                                        <span class="ms-1">Oman</span>
                                                    </div>
                                                </td> -->
                                                <td>British Petroleum</td>
                                                <td>Memory Drop Gyrocompass</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>13-10-2024</td>
                                                
                                                <td><span class="badge bg-success  text-white">Completed</span></td>
                                            </tr>
                                            <tr class="border hover:bg-gray-100 dark:hover:bg-light dark:border-defaultborder/10 border-defaultborder !border-x-0">
                                                <td>OM18978</td>
                                                <td>Gyroscopic Wireline Survey < 2,500 m</td>
                                                <td>Maher Al Abri</td>
                                                <!-- <td>
                                                    <div class="inline-flex items-center">
                                                        <i class="ri-map-pin-fill text-[#8c9097] dark:text-white/50 text-[0.625rem]"></i>
                                                        <span class="ms-1">Oman</span>
                                                    </div>
                                                </td> -->
                                                <td>Petroleum Development of Oman</td>
                                                <td>Gyroscopic Wireline Survey < 2,500 m</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                
                                                <td><span class="badge bg-warning  text-white">In Progress</span></td>
                                            </tr>
                                            <tr class="border hover:bg-gray-100 dark:hover:bg-light dark:border-defaultborder/10 border-defaultborder !border-x-0">
                                                <td>OM13575</td>
                                                <td>Wireline Orientation w/ Multishot</td>
                                                <td>Sajid Ali Azad</td>
                                                <!-- <td>
                                                    <div class="inline-flex items-center">
                                                        <i class="ri-map-pin-fill text-[#8c9097] dark:text-white/50 text-[0.625rem]"></i>
                                                        <span class="ms-1">Oman</span>
                                                    </div>
                                                </td> -->
                                                <td>British Petroleum</td>
                                                <td>Wireline Orientation w/ Multishot</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td><span class="badge bg-danger  text-white">Canceled</span></td>
                                            </tr>
                                            <tr class="border hover:bg-gray-100 dark:hover:bg-light dark:border-defaultborder/10 border-defaultborder !border-x-0">
                                                <td>OM13575</td>
                                                <td>Gyroscopic Wireline Survey < 2,500 m</td>
                                                <td>Sajid Ali Azad</td>
                                                <!-- <td>
                                                    <div class="inline-flex items-center">
                                                        <i class="ri-map-pin-fill text-[#8c9097] dark:text-white/50 text-[0.625rem]"></i>
                                                        <span class="ms-1">Oman</span>
                                                    </div>
                                                </td> -->
                                                <td>British Petroleum</td>
                                                <td>Wireline Orientation w/ Multishot</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td><span class="badge bg-warning  text-white">In Progress</span></td>
                                            </tr>
                                            <tr class="border hover:bg-gray-100 dark:hover:bg-light dark:border-defaultborder/10 border-defaultborder !border-x-0">
                                                <td>OM13575</td>
                                                <td>Rig-38</td>
                                                <td>Sajid Ali Azad</td>
                                                <!-- <td>
                                                    <div class="inline-flex items-center">
                                                        <i class="ri-map-pin-fill text-[#8c9097] dark:text-white/50 text-[0.625rem]"></i>
                                                        <span class="ms-1">Oman</span>
                                                    </div>
                                                </td> -->
                                                <td>British Petroleum</td>
                                                <td>Wireline Orientation w/ Multishot</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td>Sep 15 - Oct 12, 2023</td>
                                                <td><span class="badge bg-success  text-white">Completed</span></td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="sm:flex items-center">
                                    <div class="dark:text-defaulttextcolor/70">
                                        Showing 5 Entries <i class="bi bi-arrow-right ms-2 font-semibold"></i>
                                    </div>
                                    <div class="ms-auto">
                                        <nav aria-label="Page navigation" class="pagination-style-4">
                                            <ul class="ti-pagination mb-0">
                                                <li class="page-item disabled">
                                                    <a class="page-link" href="javascript:void(0);">Prev</a>
                                                </li>
                                                <li class="page-item"><a class="page-link active" href="javascript:void(0);">1</a></li>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                                                <li class="page-item">
                                                    <a class="page-link !text-primary" href="javascript:void(0);">Next</a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Recent Jobs Tab -->
        </div> <!-- End tab-content -->
    </div>
</div>
